<div class="comments">
        <ul>
            {% for comment in comments %}
                {% if comment.tweet.id == tweet.id %}
                    <li>
                        <p>{{comment.creator}}</p><p>{{ comment.date }}</p>
                        <p>{{comment.text}}</p>
                        
                        {% if comment.creator == request.user or post.author == request.user %}
                            <a href="/deletecomment/{{comment.id}}/"><button>delete</button></a>
                        {% endif %}
                </li>
                    </li>
                {% endif %}
                {% empty %}
                    <li>No comments yet.</li>
            {% endfor %}
        </ul>
    </div>