<div class="comments">
        <ul>
            {% for comment in comments %}
                {% if comment.tweet.id == tweet.id %}
                    <li>
                        {{comment.text}}<br>
                        {{comment.creator}}
                        {% if comment.creator == request.user or post.author == request.user %}
                            <a href="/deletecomment/{{comment.id}}/"><button>delete</button></a>
                        {% endif %}
                </li>
                    </li>
                {% endif %}
                {% empty %}
                    <li>No comments yet.</li>
            {% endfor %}
        </ul>
    </div>