{% for post in posts %}
    <div class="post-container">
        <h2>{{ post.author.display_name }}</h2>
        <h4>👤 @{{ post.author.username }}</h4>
        <img class="postpic" src="{{ post.photo.url }}" alt="photo">
        <h4>{{ post.caption }}</h4>
        <h5 role="doc-credit">{{ post.date }}</h5>
        <br>
        <section>🧡 {{ post.likes }}</section>
        <section>👎 {{ post.dislikes }}</section>
        <section>
            <a href="/like/">🧡Like</a>
            <a href="/dislike/">👎Dislike</a>
        </section>
    </div>
{% endfor %}