<head>
    <link id="s1" rel="stylesheet" href="/static/css/clickable_themes/holiday_feb.css">
    <link id="s2" rel="stylesheet" href="/static/css/clickable_themes/holiday_july.css">
    <link id="s3" rel="stylesheet" href="/static/css/clickable_themes/holiday_oct.css">
    <link id="s4" rel="stylesheet" href="/static/css/clickable_themes/holiday_dec.css">
</head>
<body>
    <nav>
        Theme:
        <a href="javascript:t1.disabled=false; t2.disabled=true; t3.disabled=true;t4.disabled=true">
            <img class="theme-img" src="" alt="valentine theme">
        </a>
        <a href="javascript:t2.disabled=false; t1.disabled=true; t3.disabled=true; t4.disabled=true">
            <img class="theme-img" src="/static/css/clickable_themes/holiday_july.css" alt="4th of july theme">
        </a>
        <a href="javascript:t3.disabled=false; t1.disabled=true; t2.disabled=true; t4.disabled=true">
            <img class="theme-img" src="" alt="october theme">
        </a>
        <a href="javascript:t4.disabled=false; t1.disabled=true; t2.disabled=true; t3.disabled=true">
            <img class="theme-img" src="" alt="december theme">
        </a>

    </nav>
</body>
