{% for user in all_users %}
<div class="valign-wrapper valign">
    <a class="user-list" href="/user/{{ user.id }}/">
        {% if user.profile_pic.url is not None %}
            <img style="width:75px; height:75px;border-radius: 100px;" src="{{ user.profile_pic.url }}" alt="profile-photo">
        {% else %}
            <img style="width:75px; height:75px;border-radius: 100px;" src="/static/images/blank_user.jpg" alt="profile-photo">
        {% endif %}
        <span class="display_name">{{ user.display_name }}</span><span class="username"> @{{ user.username }}</span>
    </a>
    <hr>
</div>
{% endfor %}