body {
    text-align: center;
    /*background-image: url('../images/login_holidays.png');*/
    text-align: center;
    font-family: 'Cookie', cursive;
}

#logo {
    font-family: 'Cookie', cursive;
    font-size: 90px;
    /*color: whitesmoke;*/
}
.landing {
    font-family: 'Cookie', cursive;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    height: 400px;
    max-width: 700px;
    place-items: stretch;
    position: relative;
    width: 100%;
    top: 100px;
    background-color: whitesmoke;
    margin: auto;

}
.loginbox {
    display: flex;
    flex-direction: column;
    height: 370px;
    place-items: stretch;
    position: relative;
    width: 100%;
    max-width: 330px;
    /*top:100px;*/
    background-color: whitesmoke;
    /*border: 10px solid thistle ;*/
    /*box-shadow: 1px 1px 5px black;*/
    padding: 15px;
    font-family: "Victor Mono";
    text-align: center;
    margin: auto;
}

.loginbox.left {
    background-image: url("../images/login.jpg");
    background-size: cover;
    background-repeat: round;
}
.loginbox.right {
  font-style: italic;
}
.left {
    float: left !important;
}
.right {
  float: right !important;
}
.error {
  color: red;
}
form {
  max-width: 330px;
  padding: 15px;
}
#signup {
  margin: 10px;
}
@media (max-width: 589px) {
  .loginbox {
    display: flex;
    flex-direction: column;
  }
  .landing {
    display: flex;
    flex-direction: column;
      border: 1px solid black;
      height: auto;
      width: auto;
  }
  .loginbox.left {
      background-size: contain;
  }
}