body {
    background-image: url('/static/bg.png');
    display: grid;
    grid-template-columns: 220px auto;

}
.postpic {
    max-width: 300px;
    max-height: 300px;
    border: 20px solid white;
    display: flex;
    image-rendering: crisp-edges;
    shape-image-threshold: auto;
}

.post-container {
    display: flex;
    background-color: coral;
    margin: 20px;
    width: 500px;
    flex-direction: column;
    align-items: center;
    border: 5px ridge #3d3c3c;
    padding:10px;
}
.postpic {
    width: 400px;
    height: 400px;
}

#toolbar li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
}
#toolbar ul {
    list-style-type: none;
}
ul.navlist {
    padding: 0px;
}

.caption {
    font-size: 20px;

}
.date {
    font-size: 12px;

}
.comments {
    display: grid;
    grid-column: 2;
    background-color: green;

}
#right {
    display: grid;
    grid-column: 2;
    width: 500px;
}
#left {
    display: grid;
    grid-column: 1;
    width: 500px;
    margin-left: 150px;
}