/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Sansita Swashed', cursive; */

/* colors */
/*
a = #F6E1CA
#F6CAD3
#D4BCAE
#D4B1AE
#EBD4CD
*/

/* all templates */
body {
    background-image: url('/static/images/newpost.gif/');
    display: grid;
    grid-template-columns: 120px 50vw 50vw;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}
#feed {
    display: grid;
    grid-column: 0vw 120px 120px 100vw;
}

/* post.html */
.postpic {
    max-width: 50vw;
    max-height: 50vw;
    border: 1px inset white;
    display: flex;
    image-rendering: crisp-edges;
    shape-image-threshold: auto;
    width: minmax(300px, 600px);
}
.post-container {
    display: flex;
    background-color: #888888;
    border: 5px solid gray;
    margin: 20px;
    width: 500px;
    flex-direction: column;
    align-items: center;
    border: 5px inset white;
    padding:10px;
    box-shadow: 1px 1px 10px black;
}
.caption {
    font-size: 20px;
    margin-left: 5px;
}
.username {
    display:inline;
    color: #8c5fa1;
    text-decoration: none;
    font-style: italic;
    font-size: small;
    align-self: flex-start;
}
.display_name {
    display:inline;
    font-size:medium;
    font-weight: bold;
    text-decoration: none;
    align-self: flex-start;
    font-family: 'Sansita Swashed', cursive;
}
.date {
    font-size: 12px;
    display: inline;
}

/* post details */
#details-background {
    display: flex;
    align-items: stretch;
    justify-content: left;
    align-content:space-around;
}
.comments {
    display: flex;
    grid-column: 2;
    background-color: #eeeeee;
}
#right {
    display: flex;
    width: 500px;
    flex-direction: column;
}
#left {
    display: flex;
    width: 40vw;
    margin-left: 150px;
    flex-direction: column
}
.like-link {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    width: 150px;
    background: linear-gradient(darkgray, black);
    color: white
}
.post-likes {
    display: inline;
    flex-direction: row;
}
.card {
    width:500px;
}
.card-content {
    margin: 5px;
}

/* List of Users */
#list-users {
    display: flex;
    flex-direction: column;
}
#list-users img, p {
    display: inline;
    flex-direction: column;
}

