/* all templates */
body {
    /* background-image: url('/static/images/seamlessspiders.jpg/'); */
    display: grid;
    grid-template-columns: 120px 50vw 50vw;
    font-family: 'Fjalla One', sans-serif;

}
/* post.html ######################################*/
#feed {
    display: grid;
    grid-column: 0vw 120px 120px 100vw;
}
.postpic {
    max-width: 300px;
    max-height: 300px;
    border: 1px inset white;
    display: flex;
    image-rendering: crisp-edges;
    shape-image-threshold: auto;
}

.post-container {
    display: flex;
    background-color: #888888;
    border: 5px solid gray;
    margin: 20px;
    width: 500px;
    flex-direction: column;
    align-items: center;
    border: 5px inset white;
    padding:10px;
    box-shadow: 1px 1px 10px black;
}
.postpic {
    width: minmax(300px, 600px);
}

.caption {
    font-size: 20px;

}
.username {
    display:inline;
    color: #e8792e;
    text-decoration: none;
    font-style: italic;
    font-size: small;
    align-self: flex-start;
}

.display_name {
    display:inline;
    font-size:medium;
    font-weight: bold;
    text-decoration: none;
    align-self: flex-start;
}

.date {
    font-size: 12px;
    display: inline;

}

/* post details #########################################*/
#details-background {
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-content:space-around;
    background-color: rgb(157, 78, 202);
    
}
.comments {
    display: flex;
    grid-column: 2;
    background-color: #eeeeee;
}

#right {
    display: flex;
    width: 500px;
}
#left {
    display: flex;
    width: 500px;
    margin-left: 150px;
}
.commentform {
    grid-area: b
}

.like-link {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    width: 150px;
    background: linear-gradient(darkgray, black);
    color: white
}
.post-likes {
    display: inline;
    flex-direction: row;
}





