/* Christmas Theme */
.theme-christmas {
    --color-primary: #ff0000;
    --color-secondary: #00ff00;
    --color-light: #8fb9e9;
    --color-dark: #19266b;
    --color-neutral: #191000;
    --font-color: #000000;
    --color-mute: #888888;
    --bg: url('/static/images/dec-theme-button.png');
}