.theme-fourthOfJuly {
    --color-primary: #0022dd;
    --color-secondary: #b10303;
    --color-light: #ff5757;
    --color-dark: #0a0a72;
    --color-neutral: #acabab;
    --font-color: #f1f1f1;
    --color-mute: #575757;
    --bg: url('/static/images/jul-theme-button.jpg');
}
.theme-valentinesDay {
    --color-primary: #;
    --color-secondary: #;
    --color-light: #;
    --color-dark: #;
    --color-neutral: #;
    --font-color: #;
    --color-mute: #;
    --bg: url('/static/images/feb-theme-button.jpg');
}
.theme-christmas {
    --color-primary: #ff0000;
    --color-secondary: #00ff00;
    --color-light: #e5e5e5;
    --color-dark: #0d0a09;
    --color-neutral: #191000;
    --font-color: #000000;
    --color-mute: #666666;
    --background-image: url('/static/images/dec-theme-button.png');
}
.theme-halloween {
    background-image: url("/static/images/halloween-bg.png");
    --color-primary: #0d0a09;
    background-repeat: repeat;
    --color-secondary: #e59400;
    --color-light: #e5e5e5;
    --color-dark: #0d0a09;
    --color-neutral: #191000;
    --font-color: #ffae19;
    --color-mute: #b27300;
}
