/* Christmas Theme */
.theme-christmas {
    --color-primary: #ff0000;
    --color-secondary: #00ff00;
    --color-light: #e5e5e5;
    --color-dark: #0d0a09;
    --color-neutral: #191000;
    --font-color: #000000;
    --color-mute: #666666;
    --background-image: url('/static/images/dec-theme-button.png');
  }