body {
    background-image: url('/static/1.png');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-color: black;
}
.loginbox {
    position: absolute;
    /*background-color: white;*/
    left: 700px;
    width: 300px;
    top:100px;
    display: grid;
    grid-row-gap: 35px;
    place-items: center;
}
.error {
    color: red;

}
