body {
    background-image: url('/static/2.png')
}
.postpic {
    max-width: 300px;
    max-height: 300px;
    border: 20px solid white;
    display: flex;
    image-rendering: crisp-edges;
    shape-image-threshold: auto;
}
