body {
    background-image: url('/static/2.png');
    display: grid;
    grid-template:
        "a b b b" auto
        "a b b b" auto
        "a b b b" auto / 20% 1fr 1fr

}
.postpic {
    max-width: 300px;
    max-height: 300px;
    border: 20px solid white;
    display: flex;
    image-rendering: crisp-edges;
    shape-image-threshold: auto;
}

.post-container {
    display: grid;
    background-color: coral;
    margin: 20px;

}