<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="toolbar">
        {% include './blobmenu.html' %}
    </div>

    <div id="left" class="post-container">
        <h2>{{ post.author.display_name }}</h2>
        <h4>👤 @{{ post.author.username }}</h4>
        <img class="postpic" src="{{ post.photo.url }}" alt="photo">
        <h4>{{ post.caption }}</h4>
        <h5 role="doc-credit">{{ post.date }}</h5>
        <br>
        <section>🧡 {{ post.likes }}</section>
        <section>👎 {{ post.dislikes }}</section>
        <section>
            <a href="/post/{{ post.id }}/like/">🧡Like</a>
            <a href="/post/{{ post.id }}/dislike/">👎Dislike</a>
        </section>
    </div>
    <div id="comments">
        <!-- <ul>
            {% for comment in comments %}
                    <li>
                        {{comment.text}}<br>
                        {{comment.creator}}
                        {% if comment.creator == request.user or post.author == request.user %}
                            <a href="/deletecomment/{{comment.id}}/"><button>delete</button></a>
                        {% endif %}
                    </li>
                {% empty %}
                    <li>No comments yet.</li>
            {% endfor %}
        </ul> -->
    </div>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" value="Submit">
        </form>
    </div>
    <span>go <a href="/">home</a></span>
    <div id="right" class="comments">
        {% if post.author == request.user %}
            <a href="/deleteallcomments/{{post.id}}/"><button>delete</button></a>
        {% endif %}
        {% include "./partials/comment.html" %}
    </div>
</body>
</html>