<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="../static/style.css"></head>
<body>
    <div>
        {% include "./partials/post.html" %}
    </div>
    <div>
        <ul>
            {% for comment in comments %}
                {% if comment.tweet.id == tweet.id %}
                    <li>
                        {{comment.text}}<br>
                        {{comment.creator}}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div>
        <!-- comment form -->
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" value="Submit">
        </form>
    </div>
    <span>go <a href="/">home</a></span>
</body>
</html>