<!DOCTYPE html>
<html lang="en" id="htmltag" class="theme-vanilla">
{% include './partials/head.html' %}
<body>
    <div id="toolbar">
        {% include './blobmenu.html' %}
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
    {{ profile }}
    <a  href="/user/{{ user.id }}/"><button>Cancel</button></a>
    {% include './partials/scripts.html' %}

</body>
</html>