<!DOCTYPE html>
<html lang="en" id="htmltag" class="theme-vanilla">
{% include './partials/head.html' %}
<body>
    {% include './blobmenu.html' %}
    <div id="feed">
        {% include './partials/post.html' %}
    </div>
    <div id="list-users">
        {% include './partials/users.html' %}
        <br>
        <div id="theme-container">
            <h6>Holiday Themes</h6>
            <button id="vanilla-button" class="theme-button" onclick="setTheme('theme-vanilla')"></button>
            <button id="feb-button" class="theme-button bg-2" onclick="setTheme('theme-valentinesDay')"></button>
            <button id="jul-button" class="theme-button bg-7" onclick="setTheme('theme-fourthOfJuly')"></button>
            <button id="oct-button" class="theme-button bg-10" onclick="setTheme('theme-halloween')"></button>
            <button id="dec-button" class="theme-button bg-12" onclick="setTheme('theme-christmas')"></button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/static/theme-switcher.js">

    </script>
</body>
</html>