<!DOCTYPE html>
<html lang="en" id="htmltag" class="{{ user.theme }}">
{% include './partials/head.html' %}
<body>
    {% include "./blobmenu.html" %}
    <div class="container-fluid">
        <h2>Notifications page</h2>
        <br>
            {% for alert in notifications %}

                <ul class="collection">
                    <li class="collection-item avatar">
                      <img src="{{ alert.created_by.profile_pic.url }}" alt="" class="circle">
                      <span class="title">{{ alert.created_by.display_name }}</span>
                      <p>{{ alert.date }} <br>
                         {{ alert.message }}
                      </p>
                      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                </ul>
            {% endfor %}
        <span>go <a href="/user/{{request.user.id}}">back to profile</a></span>
    </div>
    {% include './partials/scripts.html' %}
</body>
</html>

