<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="toolbar">
        {% include './blobmenu.html' %}
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="{{ profile.profile_pic.url }}/" alt="photo" /><h1>{{ profile.display_name }}'s Profile</h1>
    <div id="profile">
        <p>{{ profile.bio }}</p>
            <br />
            <h3>Following: {{ profile.following.count }}</h3>
            <h3>Posts: {{ posts.count }}</h3>
        {{ profile }}
        {% for post in posts %}
        <ul>
            <h4>
                @{{ post.author.username }}
                <br />
                {{ post.caption }}
                <br />
                <img src="{{ post.photo.url }}" alt="photo">
            </h4>
        </ul>
    {% endfor %}
    <a  href="/user/{{ profile.id }}/edit"><button>Edit!</button></a>
    </div>
</body>
</html>