<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/login.css">
</head>

<body>
    <div class="loginbox">
        <h1>Sign up</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Sign Up" />
        </form>
        <div>
        <p style="display:inline;">Already have an account? </p><a style="display:inline;" href="/login/">Login</a>
        </div>
    </div>
</body>

</html>