<html lang="en" id="htmltag" class="theme-vanilla">
    <head>
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
    <body>
        <div id="toolbar">
            {% include './blobmenu.html' %}
        </div>
        <form class="card" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
        {% include './partials/scripts.html' %}
    </body>
</html>
